
#hot-item-section {
    padding: 10% 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-item-section {
    width: 85%;
    text-align: center;
}

#main-title {
    color: rgb(93, 88, 88);
    margin-bottom: 20px;
    font: {
        weight: 750;
        size: 1.8rem;
    }
}

#row-style {
    width: 100%;
}