
.mypage-contents {
    float: right;
    width: 80%;
    min-height: 80vh;
    margin-top: 12vh;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    h4{
        font-weight: 750;
        font-size: 1.3rem;
        margin-bottom: 30px;
        color: rgb(83, 80, 80);
    }
}