#mypage-sidebar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 15vh;
    float: left;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 241, 241);
    box-shadow: 0px 0px 10px rgb(189, 139, 139);
    width: 16%;
    margin-top: 12vh;
    margin-left: 1.5%;
}

.mypage-subtitle {
    margin: 20px 0px 5px 0px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}

.sidebar-item {
    text-decoration: none;
    margin: 5px 0px;
    color: rgb(134, 131, 131);
    font-weight: 600;

    &::after {
        margin: 1.5px auto 0 auto;
        content: '';
        height: 2px;
        width:0;
        display: block;
        background: rgb(105, 99, 99);
        transition: width 0.4s;
    }

    &:hover {
        color:rgb(89, 90, 70);
        font-weight: 800;

        &::after {
            width:100%;
        }
    }
}