
.mypage-contents {
    float: right;
    width: 80%;
    height: 100%;
    margin-top: 12vh;
    margin-left: 10px;
    margin-right: 10px;

    h4{
        font-weight: 700;
        margin-bottom: 30px;
    }
}