.nav-style{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 8vh;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.nav-logo{
    width: 190px;
}

.nav-searchbar{
    padding: 0% 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    border: 1.1px solid rgb(206, 151, 151);
    border-radius: 10px;
}

.nav-searchinput{
    margin-left: 3%;
    padding: 1% 0%;
    width: 80%;
    height: 30px;
    font-size: 1.05rem;
    color: rgb(105, 103, 103);
    border: none;
}

.nav-searchinput:focus {
    outline: none;
}

.myprofile-icon {
    padding: 0 20px;
}

#mymenu-icon-img {
    width : 30px;
    height : 30px;
    padding : 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 161, 151);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(207, 115, 115);
    }
}

#input-search-btn {
    color: rgb(207, 138, 125);
    width: 25px;
    height: 25px;
    cursor: pointer;
}