
#popular-search-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 245, 245);
    padding: 30px 5px;

    // border: black solid 1px;
}

#popular-search-maintitle {
    color: rgb(93, 88, 88);
    margin-bottom: 20px;
    font: {
        weight: 700;
        size: 1.5rem;
    }
}

#rank-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
    width: 80%;
    color: rgb(93, 88, 88);

    & span {
        font: {
            size: 1.1rem;
            weight: 550;
        }
    }
}