
.table-filter {
	border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead tr th {
        border-bottom: 1px solid #eee;
        background-color: rgb(236, 234, 231);
        padding: 10px 0px;
        text-align: center;
    }
}

.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.table-filter tbody tr td {
	padding: 20px;
	vertical-align: middle;
	border-top-color: #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;

    img {
        width: 70px;
    }
}

.fail-span {
    color: red;
    font-weight: 800;
}

.success-span {
    color: blue;
    font-weight: 800;
}

.ongoing-span {
    color: rgb(12, 151, 12);
    font-weight: 800;
}

.item-count-div {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(121, 113, 113);
}