
.table-page-section {
    text-align: center;
    margin: 20px 0;

    span {
        margin: 0 10px;
        padding: 0 20px;
        font-weight: 600;
        color: rgb(160, 156, 156);
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}